[Unit]
Description=FOH Intercom Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 ~/foh-intercom/software/main.py
WorkingDirectory=~/foh-intercom/software/
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
