[Unit]
Description=Intercom System Status Broker

[Service]
ExecStart=/home/pi/foh-intercom/venv/bin/python3 /home/pi/foh-intercom/software/system_status_broker.py
WorkingDirectory=/home/pi/foh-intercom/software/
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
